body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #34495e;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

.hero {
  text-align: center;
  padding: 50px;
  background: #ecf0f1;
}

.services {
  padding: 20px;
  text-align: center;
}

.card {
  display: inline-block;
  width: 25%;
  margin: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}

.contact {
  text-align: center;
  padding: 30px;
  background: #bdc3c7;
}

button {
  padding: 10px 20px;
  background: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: black;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
}
/* CONTACT SECTION */
.contact {
  padding: 40px 20px;
  text-align: center;
}

/* FORM */
#contactForm {
  max-width: 350px;
  margin: 20px auto;
}

/* INPUTS */
#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

/* FOCUS */
#contactForm input:focus,
#contactForm textarea:focus {
  border-color: #2c3e50;
  outline: none;
}

/* BUTTON */
#contactForm button {
  width: 100%;
  padding: 12px;
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

#contactForm button:hover {
  background: black;
}

/* HEADING STYLE */
.contact h3 {
  margin-top: 20px;
  font-size: 18px;
}
