body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #34495e;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

.hero {
  text-align: center;
  padding: 50px;
  background: #ecf0f1;
}

.services {
  padding: 20px;
  text-align: center;
}

.card {
  display: inline-block;
  width: 25%;
  margin: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}

.contact {
  text-align: center;
  padding: 30px;
  background: #bdc3c7;
}

button {
  padding: 10px 20px;
  background: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: black;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
}
.callback {
  padding: 60px 20px;
  background: #f5f7fa;
}

/* BOX LAYOUT */
.callback-box {
  max-width: 900px;
  margin: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* LEFT TEXT */
.callback-text {
  flex: 1;
  text-align: left;
}

.callback-text h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.callback-text p {
  color: #666;
  margin-bottom: 15px;
}

.callback-text ul {
  list-style: none;
  padding: 0;
}

.callback-text li {
  margin-bottom: 8px;
}

/* FORM */
.callback-form {
  flex: 1;
  max-width: 350px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.callback-form input,
.callback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.callback-form button {
  width: 100%;
  padding: 10px;
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 700px) {
  .callback-box {
    flex-direction: column;
    text-align: center;
  }

  .callback-text {
    text-align: center;
  }
}
.callback-text h2 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.callback-text p {
  color: #555;
  margin-bottom: 10px;
  line-height: 1.5;
}

.points p {
  margin: 6px 0;
  font-size: 14px;
}

.trust {
  margin-top: 15px;
  font-weight: bold;
  color: #2c3e50;
}
